#banner-busca {
    padding: 8rem 0;
}

input, #pesquisa {
    height: 61px;
    font-size: 24px;
}

#pesquisa {
    background-color: var(--marrom);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 3rem;
    color: white;
}

#pesquisa:hover {
    background-color: var(--marrom-claro);
    color: black;
}

#section3-livros-catalogo, #section4-livros-catalogo {
    background-color: var(--marrom);
}

#titulo1-livros-catalogo, #titulo2-livros-catalogo, #titulo3-livros-catalogo, #titulo4-livros-catalogo {
    color: white;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: var(--marrom);
}

.card {
    width: 100% !important;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.card > img {
    width: 85%;
    padding-top: 1.5rem;
}

.card-title, .card-text {
    color: rgba(0, 0, 0, 0.452);
}

.card-body > button {
    background-color: var(--marrom);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 3rem;
}

.card-body > button:hover {
    background-color: var(--marrom-claro);
    color: black;
}

@media screen and (max-width : 920px) {
    form {
        display: flex;
        flex-direction: column;
    }

    form > input {
        margin-bottom: 2rem;
    }

    
}
