@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Inter:wght@400;500;600&family=Joti+One&family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cossette Titre';
}

:root {
    --marrom: #44342F;
    --vinho: #6B2929;
    --marrom-claro: #DDB38D;
}

body {
    width: 100%;
}

header {
    background-color: var(--marrom);
    width: 100%;
}

#logo {
    width: 90px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
}

#LeC {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 28px;
    margin-right: 86px;
}

#login-header {
    text-decoration: none;
    color: #fff;
}

#cadastro-header {
    text-decoration: none;
    color: #fff;
}

.nav-link {
    color: white;
    font-size: 28px;
    margin-left: 1rem;
}

footer {
    width: 100%;
    background-color: var(--marrom);
    color: white;
    padding: 1.5rem 0;
}

#contatos {
    color: rgba(255, 255, 255, 0.411);
}

#direitos {
    margin: 0 auto;
}

@media screen and (max-width : 900px) {
    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width : 670px) {
    #contatos {
        text-align: center;
        margin-bottom: 2rem;
    }
}