@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Inter:wght@400;500;600&family=Joti+One&family=Londrina+Solid&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Londrina Solid';
}

:root {
    --marrom: #44342F;
    --vinho: #6B2929;
    --marrom-claro: #DDC68D;
}

body {
    width: 100%;
}

header {
    background-color: var(--marrom);
}

#logo {
    width: 90px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.nav-link {
    color: white;
    font-size: 28px;
    margin-left: 1rem;
}

#img-banner {
    width: 70%;
}

#categorias1, #categorias2 {
    color: var(--vinho);
    font-size: 24px;
    margin-top: 3rem;
}

#mais-vendidosSection {
    background-color: var(--marrom);
}

#titulo-mais-vendidos {
    color: white;
}

#cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.card > img {
    width: 15rem;
    padding-top: 1.5rem;
}

.card-title, .card-text {
    color: rgba(0, 0, 0, 0.452);
}

.card-body > button {
    background-color: var(--marrom);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 3rem;
}

.card-body > button:hover {
    background-color: var(--marrom-claro);
    color: black;
}

#experienciaSection {
    background-color: var(--marrom-claro);
}

#info-exp, #info-exp2, #info-exp3 {
    width: 33,33%;
    padding: 0 2rem;
    font-size: 24px;
}

#info-exp > p, #info-exp2 > p, #info-exp3 > p {
    padding-top: 15px;
}

footer {
    background-color: var(--marrom);
    color: white;
    padding: 1.5rem 0;
}

#contatos {
    color: rgba(255, 255, 255, 0.411);
}

#direitos {
    margin: 0 auto;
}