#img-banner {
    width: 70%;
}

#info-exp, #info-exp2, #info-exp3 {
    width: 33,33%;
    padding: 0 2rem;
    font-size: 24px;
}

#info-exp > p, #info-exp2 > p, #info-exp3 > p {
    padding-top: 15px;
}

#mais-vendidosSection {
    background-color: var(--marrom);
}

#titulo-mais-vendidos {
    color: white;
}

.card {
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.card > img {
    width: 15rem;
    padding-top: 1.5rem;
}

.card-title, .card-text {
    color: rgba(0, 0, 0, 0.452);
}

.card-body > button {
    background-color: var(--marrom);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 3rem;
}

.card-body > button:hover {
    background-color: var(--marrom-claro);
    color: black;
}

#categorias1, #categorias2 {
    color: var(--vinho);
    font-size: 24px;
    margin-top: 3rem;
}

li {
    cursor: pointer;
}

@media screen and (max-width : 768px) {
    #experiencia {
        flex-wrap: wrap;
    }

    #categorias1, #categorias2 {
        font-size: 18px;
    }
}

@media screen and (max-width : 420px) {
    #categorias1, #categorias2 {
        font-size: 14px;
    }
}

@media screen and (max-width : 1380px){
    .carousel-item {
        display: flex;
        flex-wrap: wrap;
    }
}